In [1]:
import pandas as pd

In [3]:
s = pd.Series(list('asasadsafsdafsadsfadsaf'))
s

0     a
1     s
2     a
3     s
4     a
5     d
6     s
7     a
8     f
9     s
10    d
11    a
12    f
13    s
14    a
15    d
16    s
17    f
18    a
19    d
20    s
21    a
22    f
dtype: object

In [4]:
s.unique()

array(['a', 's', 'd', 'f'], dtype=object)

In [5]:
s.value_counts()

a    8
s    7
d    4
f    4
dtype: int64

In [6]:
dados = pd.read_csv('data/aluguel.csv', sep = ';')

In [7]:
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
3,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
4,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento

In [8]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [9]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64